// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;

$gray1: #ECECEC;
$green1: #63D1BB;
$base-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);

// Fonts
$main-font: "Open Sans", "Arial", sans-serif;

// Animation
$default-transition-settings: 0.13s ease-in-out;
$transition-long: 0.3s ease-in-out;
$modal-settings: 0.1s cubic-bezier(0.55, 0, 0.1, 1);

// Breakpoints
$sm-max: 771.9px;
$md: 772px;
$md-max: 1149.9px;
$lg: 1150px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Padding
$padding--md: 50px;
$padding--sm: 30px;
