.button {
  @include btnres;
  border: 2px solid $black2;
  min-height: 52px;
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: $black2;
  transition: $default-transition-settings;

  &:hover {
    border: none;
    background-color: $black2;
    color: $color-default-white;
  }

  &:focus-visible {
    border: none;
    background-color: $black2;
    color: $color-default-white;
  }

  &:active {
    color: rgba($color-default-white, 0.3);
  }

  &--other {
    border: none;
    background-color: $green1;
    color: $color-default-white;
  }
}


