.modal {
  width: 100%;
  padding: 29px 30px 46px;
  text-align: center;
  border: none;
  border-top: 1px solid $gray4;
  box-shadow: 0 5px 10px 0 $gray5;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 20;
  transition: $default-transition-settings;

  @include media(md) {
    max-width: 566px;
    padding: 38px 92px 46px;
  }

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    color: rgba($color-default-white, 0.9);
  }
}

.modal__title {
  text-transform: uppercase;
  margin-bottom: 14px;

  @include media(md) {
    margin-bottom: 11px;
  }
}

.modal__note {
  font-size: 15px;
  line-height: 2;
  color: $black2;
  margin-bottom: 22px;

  @include media(md) {
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
}

.modal__sizes {
  @include listres;
  margin-bottom: 31px;
  display: flex;
  gap: 7px;
}

.modal__sizes-item {
  flex-basis: calc((100% - 14px) / 3);
  height: 52px;
}

.modal__sizes-input {
  &:checked + .modal__sizes-label {
    border-color: $green5;
    pointer-events: none;
  }
}

.modal__sizes-label {
  cursor: pointer;
  margin-bottom: 0;
  height: 100%;
  display: grid;
  place-items: center;
  border: 2px solid rgba($black2, 0.2);
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  transition: $default-transition-settings;

  &:hover {
    border: 2px solid rgba($black2, 0.3);
  }
}

.modal__button {
  button {
    width: 100%;
  }
}
