.spinner {
  display: none;
  animation: spinner-rotate 2s linear infinite;

  &--circle {
    fill: none;
    animation-name: stroke-rotate;
    stroke-dasharray: 282px;
    stroke-width: 10%;
    transform-origin: center;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-iteration-count: infinite;
    stroke: currentColor;
  }
}

