.catalog {
  padding-bottom: 58px;

  @include media(md) {
    padding-bottom: 64px;
  }

  @include media(lg) {
    padding-bottom: 105px;
  }
}

.catalog__title {
  margin-bottom: 30px;

  @include media(md) {
    margin-bottom: 79px;
  }

  @include media(lg) {
    margin-bottom: 128px;
  }
}

.catalog__list {
  @include listres;
  position: relative;
  min-height: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media(md) {
    margin-bottom: 53px;
    min-height: 140px;
  }

  @include media(lg) {
    margin-bottom: 57px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.catalog__production {
  cursor: pointer;
  transition: $default-transition-settings;

  @include media(md) {
    display: flex;
    flex-direction: column;
  }

  @include media(lg) {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: repeat(3,auto);
  }

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba($color-default-black, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba($color-default-black, 0.1);
  }
}

.catalog__production-title {
  display: flex;
  align-items: baseline;
  gap: 25px;
  padding: 22px 13px 27px 34px;
  border: 1px solid $gray1;
  border-bottom: none;

  @include media(md) {
    padding: 47px 57px 0 40px;
    gap: 33px;
  }

  @include media(lg) {
    padding: 39px 10px 0 80px;
    flex-direction: column;
    gap: 27px;
    border-left: none;
  }

  &::before {
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.catalog__production-video {
  position: relative;
  margin: 0;
  display: flex;

  @include media(md) {
    order: -1;
    height: 455px;
  }

  @include media(lg) {
    grid-row: 1 / -1;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.catalog__production-play {
  @include btnres;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $default-transition-settings;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.catalog__production-lead {
  font-size: 13px;
  line-height: 1.8;
  margin: 0;
  padding: 33px;
  border-right: 1px solid $gray1;
  border-left: 1px solid $gray1;

  @include media(md) {
    padding: 25px 40px;
    font-size: 15px;
    line-height: 2;
  }

  @include media(lg) {
    padding: 28px 57px 15px 80px;
    font-size: 15px;
    line-height: 2;
    border-left: none;
  }
}

.catalog__production-button {
  padding: 33px;
  padding-top: 8px;
  border: 1px solid $gray1;
  border-top: none;

  @include media(md) {
    padding: 15px 40px 46px;
    font-size: 15px;
    line-height: 2;
  }

  @include media(lg) {
    padding: 36px 57px 60px 80px;
    border-left: none;
  }
}

.catalog__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $green1;

  svg {
    width: 50px;
    height: 50px;

    @include media(md) {
      width: 120px;
      height: 120px;
    }
  }

  &--loading {
    svg {
      display: block;
    }
  }
}
