<footer class="footer">
  <div class="footer__wrapper container">
    <a class="footer__logo" @@if (!context.main) {href="index.html"} aria-label="Переход на главную">
      <svg width="102" height="34" aria-label="Переход на главную страницу">
        <use href="img/sprite.svg#logo-footer"></use>
      </svg>
    </a>

    <ul class="footer__social">
      <li class="footer__social-icon">
        <a class="footer__social-link" href="http://instagram.com" rel="noopener" target="_blank">
          <svg width="22" height="21" aria-label="Переход на страницу магазина в Инстаграмме">
            <use href="img/sprite.svg#insta-icon"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-icon">
        <a class="footer__social-link" href="http://instagram.com" rel="noopener" target="_blank">
          <svg width="15" height="28" aria-label="Переход на страницу магазина в Фэйсбуке">
            <use href="img/sprite.svg#fb-icon"></use>
          </svg>
        </a>
      </li>

      <li class="footer__social-icon">
        <a class="footer__social-link" href="http://instagram.com" rel="noopener" target="_blank">
          <svg width="23" height="20" aria-label="Переход на страницу магазина в Твиттере">
            <use href="img/sprite.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="fotter__copyright">
      <b>Разработано</b>

      <a class="footer__copyright-link" href="https://htmlacademy.ru">
        <svg width="27" height="34" aria-label="Переход на страницу HTMLAcademy">
          <use href="img/sprite.svg#htmlacademy-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>

@@if (context.needModal) {@@include("html/elements/sizes-modal.html")}

@@if (context.isMap){<script  src="https://api-maps.yandex.ru/2.1/?apikey=13f11081-1160-4e14-80da-aceac3e29678&lang=ru_RU" type="text/javascript"></script>}

<script src="js/bundle.min.js"></script>
