<header class="header">
  <div class="header__wrapper  header__wrapper--no-js container">
    <a class="header__logo" @@if (!context.main) {href="index.html"} aria-label="Переход на главную">
      <picture>
        <source media="(min-width: 1150px)" srcset="img/logo-desktop.svg">
        <source media="(min-width: 772px)" srcset="img/logo-tablet.svg">
        <img src="img/logo-mobile.svg" width="86" height="35" alt="Логотип компании Mishka.">
      </picture>
    </a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a @@if (!context.catalogPage) {href="catalog.html"}>Каталог товаров</a>
        </li>
        <li class="header__nav-item">
          <a @@if (!context.formPage) {href="form.html"}>Вязание на заказ</a>
        </li>
        <li class="header__nav-item header__nav-item--desktop">
          <a href="#">Новые поступления</a>
        </li>
        <li class="header__nav-item header__nav-item--desktop">
          <a href="#">Распродажа</a>
        </li>
      </ul>
    </nav>

    <form class="header__search" method="GET" action="#" autocomplete="off">
        <input class="header__search-input" type="search" id="search">

        <label class="header__search-label" for="search">
          <svg width="18" height="18">
            <use xlink:href="img/sprite.svg#search-icon"></use>
          </svg>

          <span>Поиск по сайту</span>
        </label>
    </form>

    <div class="header__cart">
      <button class="header__cart-button">
        <svg width="21" height="18">
          <use xlink:href="img/sprite.svg#cart-icon"></use>
        </svg>

        <span>Корзина: <span class="header__cart-count">пока пуста</span></span>
      </button>
    </div>

    <strong class="header__note">
      Бесплатная доставка по России
    </strong>

    <button class="header__button" aria-label="Открыть/закрыть меню"></button>
  </div>
</header>
